#video_title {
    font-size: larger;
}

#sideThumbnail {
    width: 150px;
    height: auto;
}

#sideVideoInfo {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #666666;
}

#sideVideoInfo>a {
    font-size: 1rem;
}

#video_ttl {
    font-size: 1.1rem;
    color: black;
}